@use '../../../style/color/index.scss' as *;

.ver-panel {
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid $ver-zinc-3;
  background-color: #fff;
  padding: 20px;
  .dark & {
    color: $ver-zinc-1;
    background-color: $ver-zinc-9;
    border-color: $ver-zinc-6;
  }
}

.ver-panel.is-shadow-hover {
  &:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    transition: all 0.5s;
    .dark & {
      box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.639);
    }
  }
}

.ver-panel.is-shadow-always {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  .dark & {
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.639);
  }
}

.ver-panel.is-shadow-never {
  box-shadow: none;
}
