@use '../../color/index.scss' as *;

@mixin messageTypePlain($type, $color1, $color5) {
  .ver-message-#{$type}-plain {
    color: $color5;
    background-color: $color1;
  }
}

@mixin messageType($type, $color6) {
  .ver-message-#{$type} {
    color: $color6;
  }
}
