@use '../../style/color/index.scss' as *;
@use '../../style/utils/link/index.scss' as *;

.ver-message {
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  height: auto;
  display: flex;
  align-items: center;
  min-height: 45px;
  padding: 5px 25px;
  border-radius: 4px;
  user-select: none;
  .text {
    vertical-align: middle;
    font-size: 14px;
    line-height: 22px;
  }
}

@include VerMessageType('success', $ver-green-7, $ver-green-3);
@include VerMessageType('info', $ver-zinc-7, $ver-zinc-3);
@include VerMessageType('warning', $ver-orange-7, $ver-orange-3);
@include VerMessageType('danger', $ver-red-7, $ver-red-3);

.down-enter-active,
.down-leave-active {
  transition: all 0.5s;
}

.down-enter-from,
.down-leave-to {
  opacity: 0;
  transform: translate3d(-50%, -100px, 0);
}
