@use "../../../style/color/index.scss" as *;
@use "../../../style/utils/alert/index.scss" as *;

.ver-alert {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.2s;
}

.ver-alert_inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .ver-alert_closebtn {
    cursor: pointer;
  }
}

/* type */
@include ver-alert-type("success", $ver-green-6, $ver-green-3);
@include ver-alert-type("info", $ver-zinc-6, $ver-zinc-3);
@include ver-alert-type("warning", $ver-orange-6, $ver-orange-3);
@include ver-alert-type("danger", $ver-red-6, $ver-red-3);
