.ver-avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  color: #fff;
  font-size: 14px;
  background-color: #c0c4cc;
  & > img {
    display: block;
    height: 100%;
    max-width: 100%;
    border-style: none;
  }
}

.ver-avatar.is-circle {
  border-radius: 50%;
}

.ver-avatar.is-square {
  border-radius: 4px;
}

.fit-full {
  object-fit: fill;
}
.fit-contain {
  object-fit: contain;
}
.fit-cover {
  object-fit: cover;
}
.fit-none {
  object-fit: none;
}
.fit-scale-down {
  object-fit: scale-down;
}

.ver-avatar-inline {
  display: flex;
  justify-content: center;
  align-items: center;
}
