@use "../../../style/color/index.scss" as *;
@use "../../../style/utils/text/index.scss" as *;

.ver-text {
  align-self: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #606266;
  word-break: break-all;

  .dark & {
    color: $ver-zinc-1;
  }
}

@include text-color("primary", $ver-violet-6);
@include text-color("success", $ver-green-6);
@include text-color("info", $ver-zinc-6);
@include text-color("warning", $ver-orange-6);
@include text-color("danger", $ver-red-6);

.ver-text-large {
  font-size: 16px;
}

.ver-text-small {
  font-size: 12px;
}

.ver-text.is-truncated {
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
