@use '../../style/color/index.scss' as *;
@use '../../style/utils/alert/index.scss' as *;

.ver-drawer_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  margin: 0;
  z-index: 2001;
  background-color: rgba($color: #000000, $alpha: 0.5);
  .ver-drawer {
    position: relative;
    width: 30%;
    height: 100vh;
    background-color: $ver-zinc-1;

    .dark & {
      background-color: $ver-zinc-8;
    }

    &_header {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      padding: 20px;
      padding-bottom: 0;
      color: $ver-zinc-5;

      .dark & {
        color: $ver-zinc-1;
      }

      .ver-drawer_title {
        margin: 0;
        line-height: inherit;
        font-size: 1rem;
      }
      .ver-drawer_headerbtn {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
      }
    }
    &_body {
      flex: 1;
      padding: 20px;
      overflow: auto;
    }
  }
}

.fade-enter-active {
  animation: fade 0.3s;
}

.fade-leave-active {
  animation: fade 0.3s reverse;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translatex(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
