@use '../../color/index.scss' as *;

/* 标签类型 */

@mixin ver-tag-type($type, $color6, $color5) {
  .ver-tag-#{$type} {
    color: $ver-zinc-1;
    background-color: $color6;
    border-color: $color5;
  }
}

@mixin ver-tag-type-plain($type, $color5) {
  .ver-tag-#{$type}.is-plain {
    color: $color5;
    border-color: $color5;
    background-color: transparent;
  }
}
