$t-color-white: #ffffff;

/* primary */
$t-color-primary: #409eff;
$t-color-primary-light-3: #79bbff;
$t-color-primary-light-5: #a0cfff;
$t-color-primary-light-7: #c6e2ff;
$t-color-primary-light-8: #d9ecff;
$t-color-primary-light-9: #ecf5ff;

/* success */
$t-color-success: #67c23a;
$t-color-success-light-3: #95d475;
$t-color-success-light-5: #b3e19d;
$t-color-success-light-7: #d1edc4;
$t-color-success-light-8: #e1f3d8;
$t-color-success-light-9: #f0f9eb;

/* info */
$t-color-info: #909399;
$t-color-info-light-3: #b1b3b8;
$t-color-info-light-5: #c8c9cc;
$t-color-info-light-7: #dedfe0;
$t-color-info-light-8: #e9e9eb;
$t-color-info-light-9: #f4f4f5;

/* warning */
$t-color-warning: #e6a23c;
$t-color-warning-light-3: #eebe77;
$t-color-warning-light-5: #f3d19e;
$t-color-warning-light-7: #f8e3c5;
$t-color-warning-light-8: #faecd8;
$t-color-warning-light-9: #fdf6ec;

/* danger */
$t-color-danger: #f56c6c;
$t-color-danger-light-3: #f89898;
$t-color-danger-light-5: #fab6b6;
$t-color-danger-light-7: #fcd3d3;
$t-color-danger-light-8: #fde2e2;
$t-color-danger-light-9: #fef0f0;
