@use '../../style/color/index.scss' as *;

.ver-dialog_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  margin: 0;
  z-index: 2001;
  background-color: rgba($color: #000000, $alpha: 0.5);
  .ver-dialog {
    position: relative;
    width: 30%;
    margin: 15vh auto 50px;
    background-color: $ver-zinc-1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;

    .dark & {
      background-color: $ver-zinc-8;
    }

    &_header {
      padding: 20px 20px 10px;
      .ver-dialog_title {
        line-height: 24px;
        font-size: 18px;
        color: #303133;

        .dark & {
          color: $ver-zinc-1;
        }
      }
      .ver-dialog_headerbtn {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
      }
    }
    &_body {
      padding: 30px 20px;
      color: #606266;
      font-size: 14px;
      word-break: break-all;

      .dark & {
        color: $ver-zinc-1;
      }
    }
    &_footer {
      padding: 10px 20px 20px;
      text-align: right;
      box-sizing: border-box;
    }
  }
}

.fade-enter-active {
  animation: fade 0.3s;
}

.fade-leave-active {
  animation: fade 0.3s reverse;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
