.ver-icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  vertical-align: bottom;
  fill: currentColor;
  font-size: inherit;
  overflow: hidden;

  .dark & {
    color: #fff;
  }
}
