@use '../../../style/color/index.scss' as *;
@use '../../../style/utils/message/index.scss' as *;

.ver-message {
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  height: auto;
  display: flex;
  align-items: center;
  min-height: 45px;
  padding: 5px;
  border-radius: 4px;
  user-select: none;
  background: #ffffff;
  border-radius: 8px;
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);

  .ver-icon {
    margin: 0px 0.25rem;
  }

  .text {
    vertical-align: middle;
    font-size: 14px;
    line-height: 22px;
  }
}

// plain
@include messageTypePlain('success', $ver-green-3);
@include messageTypePlain('error', $ver-red-3);
@include messageTypePlain('warning', $ver-orange-3);
@include messageTypePlain('info', $ver-zinc-3);

// 动画
.down-enter-active,
.down-leave-active {
  transition: all 0.5s;
}

.down-enter-from,
.down-leave-to {
  opacity: 0;
  transform: translate3d(-50%, -100px, 0);
}
