@use "../../color/index.scss" as *;

/* 标签类型 */

@mixin ver-tag-type($type, $color, $color9, $color8) {
  .ver-tag-#{$type} {
    color: $color;
    background-color: $color9;
    border-color: $color8;
  }
}

@mixin ver-tag-type-dark($type, $textcolor, $bgcolor) {
  .ver-tag-#{$type}.is-dark {
    color: $textcolor;
    background-color: $bgcolor;
  }
}

@mixin ver-tag-type-plain($type, $textcolor, $borderColor) {
  .ver-tag-#{$type}.is-plain {
    color: $textcolor;
    border-color: $borderColor;
    background-color: transparent;
  }
}
