@use '../../../style/color/index.scss' as *;
@use '../../../style/utils/button/index.scss' as *;
@use 'sass:list';
@use 'sass:color';

.ver-btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  color: $ver-zinc-1;
  background: $ver-zinc-6;
  appearance: none;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  border: none;

  &:not(.is-disabled):hover {
    background-color: color.adjust($ver-zinc-6, $lightness: 10%);
  }

  &:not(.is-disabled):active {
    transform: scale(0.9);
  }

  .dark & {
    background-color: $ver-zinc-9;
  }
}

@include VerBtnType('primary', $ver-violet-6);
@include VerBtnType('success', $ver-green-6);
@include VerBtnType('info', $ver-zinc-6);
@include VerBtnType('warning', $ver-orange-6);
@include VerBtnType('danger', $ver-red-6);

/* 灵魂按钮 */
@include VerBtnGhost(null, $ver-zinc-5, $ver-zinc-6);
@include VerBtnGhost('primary', $ver-violet-5, $ver-violet-6);
@include VerBtnGhost('success', $ver-green-5, $ver-green-6);
@include VerBtnGhost('info', $ver-zinc-5, $ver-zinc-6);
@include VerBtnGhost('warning', $ver-orange-5, $ver-orange-6);
@include VerBtnGhost('danger', $ver-red-5, $ver-red-6);

.ver-btn.is-ghost {
  padding: 12px 19px;
}

/* round属性 */
.ver-btn.is-round {
  border-radius: 20px;
  padding: 12px 21px;
}

/* round属性 & ghost属性 */
.ver-btn.is-round.is-ghost {
  padding: 11px 20px;
}

/* plain属性 */
@include VerBtnPlain(null, $ver-zinc-1, $ver-zinc-6);
@include VerBtnPlain('primary', $ver-violet-1, $ver-violet-6);
@include VerBtnPlain('success', $ver-green-1, $ver-green-6);
@include VerBtnPlain('info', $ver-zinc-1, $ver-zinc-6);
@include VerBtnPlain('warning', $ver-orange-1, $ver-orange-6);
@include VerBtnPlain('danger', $ver-red-1, $ver-red-6);

/* text属性 */
@include VerBtnText(null, $ver-zinc-1, $ver-zinc-6); //text
@include VerBtnText('primary', $ver-violet-1, $ver-violet-6);
@include VerBtnText('success', $ver-green-1, $ver-green-6);
@include VerBtnText('info', $ver-zinc-1, $ver-zinc-6);
@include VerBtnText('warning', $ver-orange-1, $ver-orange-6);
@include VerBtnText('danger', $ver-red-1, $ver-red-6);

/* word属性 */
@include VerBtnWord(null, $ver-zinc-6);
@include VerBtnWord('primary', $ver-violet-6);
@include VerBtnWord('success', $ver-green-6);
@include VerBtnWord('info', $ver-zinc-6);
@include VerBtnWord('warning', $ver-orange-6);
@include VerBtnWord('danger', $ver-red-6);

/* size属性 */
.ver-btn.is-small {
  font-size: 10px;
  padding: 10px 15px;
}
.ver-btn.is-large {
  font-size: 16px;
  padding: 14px 25px;
}

/* 禁用属性 */
$button-colors: (
  'primary': (
    $ver-violet-1,
    $ver-violet-5,
    $ver-violet-6,
  ),
  'success': (
    $ver-green-1,
    $ver-green-5,
    $ver-green-6,
  ),
  'info': (
    $ver-zinc-1,
    $ver-zinc-5,
    $ver-zinc-6,
  ),
  'warning': (
    $ver-orange-1,
    $ver-orange-5,
    $ver-orange-6,
  ),
  'danger': (
    $ver-red-1,
    $ver-red-5,
    $ver-red-6,
  ),
);

/* 禁止状态 */
.ver-btn.is-disabled {
  opacity: 50%;
  cursor: not-allowed;
  background-image: none;

  &:active {
    transform: scale(1);
  }
  // .dark & {
  //   border: 1px solid $ver-zinc-7;
  //   background-color: $ver-zinc-9;
  // }
}
