@use '../../../style/color/index.scss' as *;
@use '../../../style/utils/button/index.scss' as *;

.ver-btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $ver-zinc-1;
  appearance: none;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  border: none;

  .dark & {
    background-color: $ver-zinc-9;
  }

  &:active {
    transform: scale(0.9);
  }
}

@include VerBtnType('primary', $ver-violet-6);
@include VerBtnType('success', $ver-green-6);
@include VerBtnType('info', $ver-zinc-6);
@include VerBtnType('warning', $ver-orange-6);
@include VerBtnType('danger', $ver-red-6);

/* 灵魂按钮 */
@include VerBtnGhost(null, $ver-zinc-6, $ver-zinc-5);
@include VerBtnGhost('primary', $ver-violet-6, $ver-violet-5);
@include VerBtnGhost('success', $ver-green-6, $ver-green-5);
@include VerBtnGhost('info', $ver-zinc-6, $ver-zinc-5);
@include VerBtnGhost('warning', $ver-orange-6, $ver-orange-5);
@include VerBtnGhost('danger', $ver-red-6, $ver-red-5);

.ver-btn.is-ghost {
  padding: 12px 19px;
}

/* round属性 */
.ver-btn.is-round {
  border-radius: 20px;
  padding: 12px 21px;
}

/* round属性 & ghost属性 */
.ver-btn.is-round.is-ghost {
  padding: 11px 20px;
}

/* plain属性 */
@include VerBtnPlain(null, $ver-zinc-1, $ver-zinc-6);
@include VerBtnPlain('primary', $ver-violet-1, $ver-violet-6);
@include VerBtnPlain('success', $ver-green-1, $ver-green-6);
@include VerBtnPlain('info', $ver-zinc-1, $ver-zinc-6);
@include VerBtnPlain('warning', $ver-orange-1, $ver-orange-6);
@include VerBtnPlain('danger', $ver-red-1, $ver-red-6);

/* empty属性 */
@include VerBtnEmpty(null, $ver-zinc-1, $ver-zinc-6);
@include VerBtnEmpty('primary', $ver-violet-1, $ver-violet-6);
@include VerBtnEmpty('success', $ver-green-1, $ver-green-6);
@include VerBtnEmpty('info', $ver-zinc-1, $ver-zinc-6);
@include VerBtnEmpty('warning', $ver-orange-1, $ver-orange-6);
@include VerBtnEmpty('danger', $ver-red-1, $ver-red-6);

/* line属性 */
@include VerBtnLine(null, $ver-zinc-6);
@include VerBtnLine('primary', $ver-violet-6);
@include VerBtnLine('success', $ver-green-6);
@include VerBtnLine('info', $ver-zinc-6);
@include VerBtnLine('warning', $ver-orange-6);
@include VerBtnLine('danger', $ver-red-6);

/* 禁用属性 */
@include VerBtnDisable($ver-violet-1, $ver-violet-6);
// @include VerBtnDisable('success', $ver-green-1, $ver-green-6);
// @include VerBtnDisable('info', $ver-zinc-1, $ver-zinc-6);
// @include VerBtnDisable('warning', $ver-orange-1, $ver-orange-6);
// @include VerBtnDisable('danger', $ver-red-1, $ver-red-6);

/* 禁止状态 */
.ver-btn.is-disabled {
  opacity: 50%;
  cursor: not-allowed;
  background-image: none;

  .dark & {
    border: 1px solid $ver-zinc-7;
    background-color: $ver-zinc-9;
  }
}
