// blue
$ver-blue-1: #eff6ff;
$ver-blue-2: #dbeafe;
$ver-blue-3: #bfdbfe;
$ver-blue-4: #93c5fd;
$ver-blue-5: #60a5fa;
$ver-blue-6: #3b82f6;
$ver-blue-7: #2563eb;
$ver-blue-8: #1d4ed8;
$ver-blue-9: #1e40af;

// red
$ver-red-1: #fef2f2;
$ver-red-2: #fecaca;
$ver-red-3: #fca5a5;
$ver-red-4: #f87171;
$ver-red-5: #ef4444;
$ver-red-6: #dc2626;
$ver-red-7: #b91c1c;
$ver-red-8: #991b1b;
$ver-red-9: #7f1d1d;

// green
$ver-green-1: #f0fdf4;
$ver-green-2: #dcfce7;
$ver-green-3: #bbf7d0;
$ver-green-4: #86efac;
$ver-green-5: #4ade80;
$ver-green-6: #22c55e;
$ver-green-7: #16a34a;
$ver-green-8: #15803d;
$ver-green-9: #166534;

// zinc
$ver-zinc-1: #fafafa;
$ver-zinc-2: #f4f4f5;
$ver-zinc-3: #e4e4e7;
$ver-zinc-4: #d4d4d8;
$ver-zinc-5: #a1a1aa;
$ver-zinc-6: #71717a;
$ver-zinc-7: #52525b;
$ver-zinc-8: #3f3f46;
$ver-zinc-9: #373740;

// Violet
$ver-violet-1: #f5f3ff;
$ver-violet-2: #ede9fe;
$ver-violet-3: #ddd6fe;
$ver-violet-4: #c4b5fd;
$ver-violet-5: #a78bfa;
$ver-violet-6: #8b5cf6;
$ver-violet-7: #7c3aed;
$ver-violet-8: #6d28d9;
$ver-violet-9: #5b21b6;

// orange
$ver-orange-1: #fff7ed;
$ver-orange-2: #ffedd5;
$ver-orange-3: #fed7aa;
$ver-orange-4: #fdba74;
$ver-orange-5: #fb923c;
$ver-orange-6: #f97316;
$ver-orange-7: #ea580c;
$ver-orange-8: #8b4c1a;
$ver-orange-9: #7c3a16;
