@use '../../../style/color/index.scss' as *;
@use '../../../style/utils/link/index.scss' as *;

.ver-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: $ver-zinc-5;

  .dark & {
    color: $ver-zinc-1;
  }
}

@include ver-link-type('primary', $ver-violet-5, $ver-violet-6);
@include ver-link-type('success', $ver-green-5, $ver-green-6);
@include ver-link-type('info', $ver-zinc-5, $ver-zinc-6);
@include ver-link-type('warning', $ver-orange-5, $ver-orange-6);
@include ver-link-type('danger', $ver-red-5, $ver-red-6);

/* 禁用状态 */
.ver-link.is-disabled {
  cursor: not-allowed;
  color: $ver-zinc-5;
  text-decoration: none;

  .dark & {
    color: $ver-zinc-4;
  }
}

@include ver-link-disabled('primary', $ver-violet-7);
@include ver-link-disabled('success', $ver-green-7);
@include ver-link-disabled('info', $ver-zinc-7);
@include ver-link-disabled('warning', $ver-orange-7);
@include ver-link-disabled('danger', $ver-red-7);
