@use '../../color/index.scss' as *;

/* 按钮类型 */
@mixin VerBtnType($type, $color6) {
  .ver-btn-#{$type} {
    color: $ver-zinc-1;
    background-color: $color6;

    .dark & {
      color: $ver-zinc-1;
      background-color: $color6;
    }
  }
}

/* 灵魂按钮 */
@mixin VerBtnGhost($type, $color6, $color5) {
  .ver-btn-#{$type}.is-ghost {
    color: $color6;
    border: 1.5px solid $color5;
    background-color: transparent;
  }
}

/* plain属性 */
@mixin VerBtnPlain($type, $color1, $color6) {
  .ver-btn-#{$type}.is-plain {
    color: $color6;
    border: 1px solid $color6;
    background-color: $color1;
  }
}

/* empty属性 */
@mixin VerBtnEmpty($type, $color1, $color6) {
  .ver-btn-#{$type}.is-empty {
    color: $color6;
    background-color: transparent;

    &:hover {
      background-color: $color1;
    }
  }
}

/* line属性 */
@mixin VerBtnLine($type, $color6) {
  .ver-btn-#{$type}.is-line {
    color: $color6;
    background-color: transparent;

    &:hover {
      opacity: 60%;
    }

    &:active {
      color: fade($color6, 15%);
    }
  }
}

/* disable属性 */
@mixin VerBtnDisable($color1, $color6) {
  .is-disabled {
    // &:active,
    // &:focus,
    // &:hover{
    //   background-color: inherit;
    //   border-color: inherit;
    //   color: inherit;
    //   transform: none;
    //   outline: none;
    // }
    &:active {
      transform: scale(1);
    }
    .dark & {
      color: $ver-zinc-1;
      background-color: $color6;
    }
  }
}
