@use '../../color/index.scss' as *;
@use 'sass:color';

/* 按钮类型 */
@mixin VerBtnType($type, $color6) {
  .ver-btn-#{$type} {
    color: $ver-zinc-1;
    background-color: $color6;

    &:not(.is-disabled):hover {
      background-color: color.adjust($color6, $lightness: 10%);
    }

    .dark & {
      color: $ver-zinc-1;
      background-color: $color6;
    }
  }
}

/* 灵魂按钮 */
@mixin VerBtnGhost($type, $color5, $color6) {
  .is-ghost {
    background-color: transparent;
    color: $ver-zinc-6;
    border: 1.5px solid $ver-zinc-5;

    &:not(.is-disabled):hover {
      background-color: $ver-zinc-6;
      border-color: $ver-zinc-6;
      color: $ver-zinc-1;
    }
  }
  .ver-btn-#{$type}.is-ghost {
    color: $color6;
    border: 1.5px solid $color5;

    &:not(.is-disabled):hover {
      background-color: $color6;
      border-color: $color6;
    }
  }
}

/* plain属性 */
@mixin VerBtnPlain($type, $color1, $color6) {
  .is-plain {
    color: $ver-zinc-6;
    background-color: $ver-zinc-1;
    border: 1px solid $ver-zinc-6;

    &:not(.is-disabled):hover {
      background-color: $ver-zinc-1;
    }
  }
  .ver-btn-#{$type}.is-plain {
    color: $color6;
    border: 1px solid $color6;
    background-color: $color1;

    &:not(.is-disabled):hover {
      background-color: $color1;
    }
  }
}

/* text属性 */
@mixin VerBtnText($type, $color1, $color6) {
  .is-text {
    border: none;
    color: $ver-zinc-6;
    background-color: transparent;

    &:not(.is-disabled):hover {
      background-color: $ver-zinc-1;
    }
  }
  .ver-btn-#{$type}.is-text {
    border: none;
    color: $color6;
    background-color: transparent;

    &:not(.is-disabled):hover {
      background-color: $color1;
    }
  }
}

/* word属性 */
@mixin VerBtnWord($type, $color6) {
  .is-word {
    border: none;
    color: $ver-zinc-6;
    background-color: transparent;

    &:not(.is-disabled):hover {
      background-color: transparent;
      opacity: 60%;
    }
  }
  .ver-btn-#{$type}.is-word {
    border: none;
    color: $color6;
    background-color: transparent;
  }
}
