@use "../../color/index.scss" as *;

/* 按钮类型 */
@mixin VerBtnType($type, $color6) {
  .ver-btn-#{$type} {
    color: $ver-zinc-1;
    background-color: $color6;

    .dark & {
      color: $ver-zinc-1;
      background-color: $color6;
    }
  }
}

/* 朴素按钮 */
@mixin VerBtnPlain($type, $color6, $color5) {
  .ver-btn-#{$type}.is-plain {
    color: $color6;
    border: 1px solid $color5;
    background-color: transparent;
  }
}

/* disable属性 */
@mixin VerBtnDisable($type, $color8, $color9) {
  .ver-btn-#{$type}.is-disable {
    color: $ver-zinc-1;
    border-color: $color8;
    background-color: $color9;

    .dark & {
      color: $ver-zinc-1;
      border-color: $color8;
      background-color: $color9;
    }
  }
}

/* 朴素按钮 disable属性 */
@mixin VerBtnDisablePlain($type, $color6, $color3, $color4) {
  .ver-btn-#{$type}.is-plain.is-disable {
    color: $color6;
    border-color: $color3;
    background-color: $color4;

    .dark & {
      color: $color6;
      border-color: $color3;
      background-color: $color4;
    }
  }
}
