@use '../../style/color/index.scss' as *;

input {
  width: 100%;
}

.ver-input {
  margin: 0;
  width: 100%;
  height: 35px;
  border: 1px solid $ver-zinc-3;
  overflow: hidden;
  font-size: 14px;
  text-indent: 20px;
  border-radius: 4px;
  line-height: 35px;
  outline: none;
  transition: all 0.2s ease;
  position: relative;
  box-sizing: border-box;
  color: #606266;
  &:hover,
  &:focus {
    border-color: $ver-violet-6;
  }

  .dark & {
    color: $ver-zinc-1;
    border-color: $ver-zinc-6;

    &:hover,
    &:focus {
      border-color: $ver-violet-6;
    }
  }
}

.ver-input.is-disabled {
  cursor: not-allowed;
  color: $ver-zinc-6;
  background-color: $ver-zinc-1;
  border: 1px solid $ver-zinc-3;

  input {
    cursor: not-allowed;
  }

  .dark & {
    color: $ver-zinc-1;
    background-color: $ver-zinc-8;
    border: 1px solid $ver-zinc-6;
  }
}
